<p id="notice"><%= notice %></p>

<p>
  <b>Registration plate:</b>
  <%= @vehicle.registration_plate %>
</p>

<p>
  <b>Renavam:</b>
  <%= @vehicle.renavam %>
</p>

<p>
  <b>Description:</b>
  <%= @vehicle.description %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
