<h1>Listing tracking_modules</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracking_modules.each do |tracking_module| %>
  <tr>
    <td><%= tracking_module.number %></td>
    <td><%= tracking_module.type %></td>
    <td><%= link_to 'Show', tracking_module %></td>
    <td><%= link_to 'Edit', edit_tracking_module_path(tracking_module) %></td>
    <td><%= link_to 'Destroy', tracking_module, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tracking module', new_tracking_module_path %>
